$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px
);

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1224px
);

:root {
	--primary: 226, 181, 58;
	--primary-hover: 233, 200, 107;
	--primary-active: 192, 154, 49;

	--transition: 0.3s ease-in-out;
}